.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.liste {
  border-right: 1px solid black;
}

.ticket {
  border-left: 1px solid black;
}

h2 {
  text-align: center;
}

.article {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.ticket-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.button-add {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 50px;
}
