<div class="layout-container">
  <div class="navbar-logo">
    <img src="assets/img/logo-128.png" alt="" class="logo" />
    <div class="navbar-container">
      <a href="/team-choosing" *ngIf="isUserConnected()"
        ><button class="button-style">Team Choosing</button></a
      >
      <a href="/login"
        ><button class="button-style">{{ username || "Login" }}</button></a
      >
    </div>
  </div>
  <div class="component-container">
    <router-outlet></router-outlet>
  </div>
</div>
